/* src/components/PostDisplay.css */

.post-container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .carousel .slide img {
    width: 100%;
    height: auto;
  }
  
  .post-description {
    padding: 10px;
    font-size: 16px;
    color: #333;
  }
  
  .post-product-links {
    padding: 10px;
  }
  
  .post-product-links h3 {
    margin-bottom: 10px;
  }
  
  .post-product-links ul {
    list-style: none;
    padding: 0;
  }
  
  .post-product-links li {
    margin-bottom: 5px;
  }
  
  .post-product-links a {
    color: #1e90ff;
    text-decoration: none;
  }
  
  .post-product-links a:hover {
    text-decoration: underline;
  }
  .truncate {
    max-width: 280px; /* Adjust as needed */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}